.discharge-trends-container {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.program-select {
  margin-left: 1rem;
}

.load-trends-button {
  margin-left: 1rem;
}

.totals-row {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  background-color: #5bb4b8;
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  padding: 0.5rem 0; /* Minimal vertical padding */
  text-align: center;
}

.content-row {
  display: flex;
  
  justify-content: space-around;
  margin-top: 1rem;
}

.chart-container {
  max-width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  max-height: 300px;
  display: flex; /* Added to center content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.table-container {
  max-width: 75%;
  overflow-x: auto; /* Ensure no horizontal scrolling */
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    max-height: 300px; /* Limit height to prevent overflow */
    display: flex; /* Added to center content */
  
}

.data-table {
  width: 100%; /* Ensure table fills container */
  border-collapse: collapse; /* Remove extra spacing between cells */
}

.data-table th, .data-table td {
  padding: 0.2rem; /* Reduced vertical spacing */
  text-align: center; /* Center align text */
  white-space: nowrap; /* Prevent wrapping */
  font-size: 0.7rem; /* Adjust font size for better fit */
}

.data-table th {
  font-weight: bold; /* Bold headers */
  background-color: #f0f0f0; /* Light background for headers */
}

.data-table td {
  border: 1px solid #ddd; /* Add borders for better visibility */
}

.export-csv-button {
  border: none; /* Remove border */
  cursor: pointer; /* Pointer on hover */
  font-size: 0.8rem; /* Font size for button */
  margin-top: -4.5rem; /* Adjust as needed */
}

/* End Date */
input#\:r3\: {
    background-color: white; /* Set input background to white for the date picker */
    border-radius: 5px; /* Add slight rounding for better aesthetics */
  }
  
  /* Program Select */
  div#\:r5\: {
    background-color: white; /* Set input background to white for the date picker */
    border-radius: 5px; /* Add slight rounding for better aesthetics */
  }

  label#\:r1\:-label {
    font-weight: bold;
    color: white;
  }

  label#\:r3\:-label {
    font-weight: bold;
    color: white;
  }

  label#\:r5\:-label {
    font-weight: bold;
    color: white;
  }