body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
}

button {
  cursor: pointer;
}

div {
  margin: 10px;
}

.program-card {
  background-color: #00838A; /* Purpose Branded background */
  border: 1px solid #c8e6c9; /* Slightly darker green border */
  border-radius: 5px;
}

.dashboard-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Reduce gap to fit more cards */
  justify-content: center;
}

.card {
  flex: 1 1 calc(100% - 1rem); /* Full width on small screens */
  max-width: 200px; /* Limit card width to fit 6 cards in a row */
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.333% - 1rem); /* Three cards per row on medium screens */
  }
}

@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(16.666% - 1rem); /* Six cards per row on large screens */
  }
}

.dashboard-totals {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  font-weight: bold;
}
